html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.mainHeader {
    width: 100%;
    padding: 10px;
    background: white;
    color:#000;
    z-index: 1000;
    height: 200px;
    overflow: hidden;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.16);
}

.sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%
}


.contentContainer {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.sticky + .contentContainer {
    padding-top: 102px;
}


.contentContainer .carouselBanner {
    width: 100%;
    height: 510px;
    
    background-color: rebeccapurple;
}

.contentContainer .staticBanner {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background: #000;
}

.contentContainer .dealCarouselContainer {
    margin-top: 50px;
}

.dealCarouselContainer h2 {
    font-size:xx-large;
    font-weight: bold;
}

.dealCarouselContainer .dealCarouselbase {
    display: flex;
    flex-direction: row;
    gap: 8;
    width: 100%;
    height: 400px;
    justify-content: space-between;
}

.dealCarouselbase .dealCarouselControl-left,.dealCarouselbase .dealCarouselControl-right {
    height: 100%;
    width: 60px;
    background: #000;
    
}
