* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(49, 49, 49, 0.349); 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(49, 49, 49, 0.349); 
  }


.mainHeader {
    padding: 10px;
    background: white;
    color:#000;
    z-index: 1000;
    height: 150px;
    overflow: hidden;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.16);
}

.sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%
}


.contentContainer {
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
    margin-top:30px;
}

.sticky + .contentContainer {
    padding-top: 102px;
}


.contentContainer .carouselBanner {
    width: 100%;
    height: 310px;
    
    background-color: rebeccapurple;
}

.contentContainer .staticBanner {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background: #000;
}

.contentContainer .dealCarouselContainer {
    margin-top: 50px;
}

.dealCarouselContainer h2 {
    font-size:xx-large;
    font-weight: bold;
}

.dealCarouselContainer .dealCarouselbase {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 8;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    
}

.dealCarouselbase .dealCarouselControl-left,.dealCarouselbase .dealCarouselControl-right {
    
    width: 60px;
    background: rgba(166, 131, 17, 0.2);
    
    color: black;

    text-align: center;
    font-size: x-large;
    font-weight: bold;
}


.dealCarouselbase .dealCarouselControl-left i,.dealCarouselbase .dealCarouselControl-right i{
    position: relative;
    top: 50%;
    left: 0;

}
.dealCarousel {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
}

.dealCarousel .dealCarouselProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
 
    
}

.dealCarousel .dealCarouselProducts .dealProduct{
    
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.dealCarousel .dealCarouselProducts .dealProduct:hover{
    scale: 104%;
    transition: ease-in ; 
}
.dealCarousel .dealCarouselProducts .dealProduct .dealProductImage {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}

.dealCarousel .dealCarouselProducts .dealProductDetailsBottom {
    
    height: 20%;
    background: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: row;
}

.dealCarousel .dealCarouselProducts .dealProductDetailsBottom .dealProductInfo{
    width: 80%;
    padding: 10px;
   line-height: 20px;
   text-decoration: none;
   color: #000;
    
}

.dealCarousel .dealCarouselProducts .dealProductDetailsBottom .dealProductQuickClick{

    background: #000;
    width: 20%;
    border-radius: 0 0 20px 0;
}

.contentHolder {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
}

.contentHolder .contentHolderBase{
    display: flex;
    flex-direction: row;
}

.contentHolder .contentHolderBase .imageHolder{
    width: 400px;
    height: 400px;
}

.contentHolder .contentHolderBase .contentsTab {
    padding: 50px;
    text-align: justify;
    
}

.contentsTab .viewmoreBotton {
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    border: solid 2px #A68411;
    background-color: transparent;
    color: #000;
}

.viewmoreBotton:hover {
    background-color: #000;
    color: white;
    border: none;
}
